.body-home {
    background-image: url('https://assets.codepen.io/9051928/gradient.png');
    background-size: 100vw;
    background-position: 0 0;
    height: 300vh;
    color: var(--white);
    font-family: var(--font);
    font-weight: 400;
    font-size: var(--p);
    margin: 0;
    position: relative;
}
